<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CNPJ x CEP</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>CEP: <%= cep %> da cidade: <%= cidade %></h1>
  <main>
    
  </main>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/locale/pt-br.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime.js"></script>
  <script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>
  <script>dayjs.locale('pt-br')</script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      document.querySelector("main").innerHTML = " ";
      const p = document.createElement('p');
      document.querySelector('main').appendChild(p)
      
      const socket = io({transports: ['websocket']});
      socket.emit('executar', 'executar')
      socket.on('info', function(msg) {
        p.innerHTML = msg
      })
      socket.on('busca', async function(data) {
        
        let ul = document.createElement('ul');
          ul.innerHTML = `
            <li><b><a href="https://cnpj.biz/${data.cnpj}" target="_blank">Razão Social:</b> ${data.razao}</a></li>
            <li><b>CNPJ:</b> ${data.cnpj}</li>
            <li><b>Situação:</b> ${data.situacao}</li>
            <li><b>CEP:</b> ${data.cep}</li>
            <li><b>Última consulta:</b> Foi ${dayjs(data.lastCheck).fromNow()}</li>`

          document.querySelector('main').appendChild(ul)

        // window.scrollTo(0, document.body.scrollHeight);
      });
      socket.on('info', function(msg) {
        if (msg === 'Concluído') { 
          socket.disconnect()
        }
      })


  </script>
</body>
</html>