<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CNPJ x CEP</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>CNPJ ativos x CEP</h1>
  <form action="/cnpjxcep" method="get">
    <label for="incial">CEP Inicial:</label>
    <input type="text" id="inicial" name="inicial" required>
    <label for="final">CEP Final:</label>
    <input type="text" id="final" name="final" required>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>