<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CNPJ x CEP</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>CNPJ ativos x CEP</h1>
  <br><br>
  <form action="/cnpjxcep" method="get">
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" required>
    <button type="submit">Enviar</button>
  </form>
  <br><br>
  <p><b>Favor digitar o CEP com traço</b> Ex: 57303-749, 57303-770.<br>
      <i>Será pesquisado CNPJ's na mesma região/cidade do CEP informado.</i></p><br>
  <p>Número de CNPJs no banco de dados: <%= count %></p>
</body>
</html>